@keyframes video_in {
  0% {
    top: -100%;
  }
  // 落地
  60% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  70% {
    top: 30%;
  }
  80% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  85% {
    top: 40%;
  }
  90% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  95% {
    top: 45%;
  }
  96% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  98% {
    top: 48%;
  }
  100% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes video_out {
    0% {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        top: 200%;
        left: 200%;
    }
}
#my_game_container {
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  z-index: 60;
  .cancel {
    position: absolute;
    right: -80px;
    top: -50px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    background: transparent;
    color: #fff;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-style: normal;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: .5s;
  }
  .cancel:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
  #game {
    // border: 1px solid #000;
    // border-top: none;
  }
}
.video_in {
  animation: video_in 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.video_out {
  animation: video_out .8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
