#header_container {
    height: 36px;
    background: rgba(0,0,0,.8);
    nav {
        float: left;
        margin-left: 100px;
        height: 100%;
        line-height: 36px;
        font-size: 18px;

        .nav_btn {
            display: inline-block;
            margin-right: 20px;
            transition: .2s;
            color: #fff;
        }

        .nav_btn:hover {
            transform: scale(1.2);
            cursor: pointer;
        }


        
    }

    .clock {
        float: right;
        margin-right: 100px;
        height: 100%;
        line-height: 36px;
        font-size: 18px;
        color: #fff;
    }
}