.rotate_Ani {
    transform: rotateY(360deg);
}
#app {
    perspective: 1500;
}
#container {
    position: relative;
    transition: 2s;
}
body {
    overflow: hidden;
}
.default {
    transform: rotateX(10deg);
}